* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    // max-width: 1366px;

}

$blueText:#1A519E;
$lightBlueText: #1078AD;
$veryLightBlueText:#D0E5F0;
$lightBlueBackground:#96C5DC;
$yellow: #F4CF1B;
$px27: 1.687em;
$px30: 1.875em;
$px31: 1.937em; 
$px35: 2.187em;
$px37: 2.312em;

body{
    header{
        .nav_menu_header{
            background-image: url("../Assets/png/Merged bar-1.png");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 92px;
                img{
                   float: left; 
                   margin-left: 35px;
                   margin-top: 5px;
                }
            .nav_menu_header_container{
                margin-right: 45px;
                margin-top: 25px;
                a{
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 1.15em;
                    margin-right: 69px; 
                }
                .cons{
                    color: black;
                }
                .acc{
                    color: $blueText;
                }
                #nav_menu_header_bttn{
                    color: $blueText;
                    font-weight: bold;
                    font-size: 1.15em;
                    background-color: transparent;
                    border-color:$blueText ;
                    border-radius: 10px;
                    padding: 0 8px 2px 17px;
                    img{
                        width: 21px;
                        height: 20px;
                        float: right;
                        margin-left: 20px;
                        margin-top: 9px;
                    }

                }
                
            }
        }
        .info_header{
            text-align: center;
            background-color:$yellow;  
            line-height: 29px;
            height: 117px;
            h5{
                color: black;
                font-weight: bold;
                
            }
            p{
                color:$lightBlueText ;
                font-weight: bold;
            }
        }
        .test_header{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 30px;
            .test_img_header{
                background-image: url("../Assets/png/Group_80.png");
                background-repeat: no-repeat;
                background-size: 100%;
                height: 488px;
                width: 661px;
            }
            .test_text_header{
                margin-top: 20px;
                text-align: center;
                line-height: 40px;
                .test_text_1_header{
                    color:$lightBlueText;
                    font-weight: bold;
                    // font-size: 1.88vw;
                    font-size: 1.875em;
                }
                .test_text_1_img_header{
                    margin-top: 25px;
                }
                .test_text_2_header{
                    color:#7F7F7F;
                    font-weight: bold;
                    // font-size: 1.88vw;
                    font-size: 1.875em;
                }
                #test_text_button_header{
                    width: 100%;
                    height: 60px;
                    background-color:$lightBlueText ;
                    color: white;
                    font-weight: bold;
                    border-radius: 7px;
                    font-size: 2em;
                    margin-top: 18px;

                }
            }
        }
    }
    .main_1{
        margin-top: 75px;
        .main_1_title{
            text-align: center;
            font-weight: 700;
            font-size: 2.1875em;
            color: $lightBlueText;
        }
        .main_1_container_1{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            font-weight: 600;
            margin-top: 36px;
            margin-left: 90px;
            .main_1_item1{
                p{
                    font-size: 2.0625em;
                }
            }
            .main_1_item2{
                padding-left: 217px;
                margin-top: 23px;
                p{
                    font-size: 2.0625em;
                    line-height: 24px;
                    margin-top: 19px;
                }
            }
        }
        .main_1_container_2{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            font-weight: 600;
            margin-left: 16px;
            .main_1_item3{
                p{
                    font-size: 2.0625em;
                    line-height: 24px;
                    margin-top: 29px;
                }
            }
            .main_1_item4{
                padding-left: 209px;
                margin-top: 23px;
                p{
                    font-size: 2.0625em;
                    line-height: 24px;
                    margin-top: 19px;
                }
            }
        }
    }
    .main_2{
        margin-top: 130px;
        .main_2_darkBlue{
            background-color: $lightBlueText;
            height: 467px;
            .main_2_darkBlue_title{
                text-align: center;
                font-weight: 700;
                font-size: 2.1875em;
                color: $veryLightBlueText;
            }
            .main_2_darkBlue_container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .main_2_darkBlue_item1{
                    margin-left: 84px;
                    line-height: 48px;
                    .main_2_darkBlue_item1_text1{
                        color: black;
                        font-size: 1.875em;
                        font-weight: 600;
                    }
                    .main_2_darkBlue_item1_text2{
                        color: white;
                        font-size: 1.875em;
                        font-weight: 600;
                    }
                }
                .main_2_darkBlue_item2{
                    padding-left: 298px;
                    padding-top: 44px;
                    .main_2_darkBlue_contact_text{
                        color: $yellow;
                        font-size: 1.937em;
                        font-weight: 700;
                        text-align: center;
                    }
                    .main_2_darkBlue_contact_phone{
                        background-color: #F4CF1B;
                        color: #1078AD;
                        font-size: 1.875em;
                        text-align: center;
                        margin-top: 16px;
                        font-weight: 700;
                        height: 78px;
                        padding-top: 22px;
                        border-radius: 5px;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    .main_2_darkBlue_contact_mail{
                        color: white;
                        font-size: 1.687em;
                        line-height: 90px;
                        text-decoration-color: $yellow;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                }
            }
        }
        .main_2_lightBlue_container{
            background-color: $lightBlueBackground;
            height: 261px;
            .main_2_lightBlue_text{
                color: $lightBlueText;
                font-size: $px30 ;
                text-align: center;
                font-weight: 700;
                padding-top: 10px;
            }
            .main_2_lightBlue_img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10px;
            }
            .main_2_lightBlue_buttn{
                width: 40%;
                height: 69px;
                background-color: #1078AD;
                color: white;
                font-weight: bold;
                border-radius: 7px;
                font-size: 2.312em;
                margin-top: 18px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

        }
    }
}
