

main{
  .main_advice{
    color: #1078ad;
    text-align: center;
    margin-top: 30px;
    .main_advice_title{
      text-align: center;
      font-weight: 700;
      font-size: 1.9em;
      color: $lightBlueText;
    }
    .main_advice_container{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 35px;
      margin-right: 159px;
      margin-left: 150px;
      .main_advice_item{
        .main_advice_img--marg{
          width: 144px;
          margin-top: 26px;
        }
        margin-bottom: 3%;
        width: 30%;
        img{
          width: 100px;
        }
        p{
          font-size: 1.125em;
          font-weight: 700;
          line-height: 1.7;
          margin: 5% 0;
        }
      }
      .main_advice_item__house{
        width: 100%;
      } 
    }
  }
  .main_info{
    background-color: #d0e5f0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    height: 277px;
    padding: 10px 58px;
    .main_info_text{
      line-height: 50px;
      .main_info_title{
        font-size: 2.5em;
        color: $lightBlueText;
      }
      .main_info_p{
        color: $blueText;
        font-size: 1.5625em;
        font-weight: 700;
        padding-top: 32px;
      }
    }
    .main_info_link{
      a{
        color: #fff;
        background-color: $lightBlueText;
        border-radius: 5px;
        font-weight: 700;
        text-decoration: none;
        font-size: 1.0625em;
      }
    }
    .main_info_link1{
      a{
        padding: 17px 15px;
      }
    }
    .main_info_link2{
      a{
        padding: 17px 50px;
      }
    }
  }
  .main_symp{
    .main_symp_title{
      text-align: center;
      font-weight: 700;
      font-size: 2.1875em;
      color: $lightBlueText;
      margin-top: 123px;
    }
    .main_symp2_container{
      display: flex;
      justify-content: space-around;
      margin-top: 85px;
      margin-left: 256px;
      margin-right: 298px;
      text-align: center;
      .main_symptome{
        img{
          width: 138px;
        }
        .main_symptome--parag{
          color: $blueText;
          font-size: 1.625em;
          font-weight: 700;
          padding-top: 32px;
          line-height: 45px;
        }
      }
    }
  }
      
}


