* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
  }

main{
  .main_advice{
    color: #1078ad;
    text-align: center;
    margin-top: 30px;
    .main_advice_title{
      text-align: center;
      font-weight: 700;
      font-size: 1.9em;
      color: $lightBlueText;
    }
    .main_advice_container{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 35px;
      margin-right: 159px;
      margin-left: 150px;
      .main_advice_item{
        .main_advice_img--marg{
          width: 144px;
          margin-top: 30px;
        }
        margin-bottom: 3%;
        width: 30%;
        img{
          width: 100px;
        }
        p{
          font-size: 1.125em;
          font-weight: 700;
          line-height: 1.7;
          margin: 5% 0;
        }
      }
      .main_advice_item__house{
        width: 100%;
      } 
    }
  }
  .main_info{
    background-color: #d0e5f0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 5% 10%;
    height: 277px;
    .main_info_text{
      line-height: 50px;
      .main_info_title{
        font-size: 2.5em;
        color: $lightBlueText;
      }
      .main_info_p{
        color: $blueText;
        font-size: 1.5625em;
        font-weight: 700;
        padding-top: 32px;
      }
    }
    .main_info_links{
      width: 60%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      a{
        width: 238px;
        height: 67px;
        color: #fff;
        background-color: $lightBlueText;
        padding: 3%;
        border-radius: 5px;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
  .main_symp{
    .main_symp_title{
      text-align: center;
      font-weight: 700;
      font-size: 2.1875em;
      color: $lightBlueText;
      margin-top: 123px;
    }
    .main_symp2_container{
      display: flex;
      justify-content: space-around;
      margin-top: 85px;
      margin-left: 256px;
      margin-right: 298px;
      text-align: center;
      .main_symptome{
        img{
          width: 138px;
        }
        .main_symptome--parag{
          color: $blueText;
          font-size: 1.625em;
          font-weight: 700;
          padding-top: 32px;
          line-height: 45px;
        }
      }
    }
  }
      
}

@media screen and (max-width: 690px){
  .nav_menu_header{
      height: 80px;
      background-position: 100%;
      img{
          margin-left: 16px;
          margin-top: 13px;
          width: 47px;
      }
      .nav_menu_header_container{
          margin-right: 33px;
          margin-top: 28px;
          a{
              font-size: 1em;
              margin-right: 0px;
          }
          .acc{
              color: $lightBlueText;
              padding-right: 15px;
          }
          .cons{
              padding-right: 15px;
          }
          #nav_menu_header_bttn{
              font-size: 1em; 
              padding: 1px 5px 4px 9px;
              color: white;
              border-color:$lightBlueText ;
              img{
                  width: 15px;
                  height: 15px;
                  margin-left: 9px;
                  margin-top: 3px;
              }
          }
      }

  }
  .info_header{
      height: 185px;
      h5{
          color: $lightBlueText;
      }
      p{
          color: black;
          font-size: 0.85em;
          line-height: 24px;
          margin-left: 30px;
          margin-right: 30px;
      }
  }
}

