body{
    main{
        margin-bottom: -88px;
        .test_position{
            .test_position_container_1{
                display: flex;
                max-width: 40%;
                justify-content: space-between;
                margin: auto;
                margin-top: 35px;
                margin-bottom: 35px;
                font-weight: 700;
                .test_position_text{
                    padding-top: 5px;
                }
                .test_position_1{
                    .dot_1{
                    margin: auto;
                    margin-top: auto;
                    margin-top: auto;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: $lightBlueBackground;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .dot_1_1{
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: $yellow;
                    }
                    }
                }
                .dot_2{
                    margin: auto;
                    margin-top: auto;
                    margin-top: auto;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .dot_2_2{
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: $lightBlueText;
                    }
                }
                .dot_3{
                    margin: auto;
                    margin-top: auto;
                    margin-top: auto;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .dot_3_3{
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: $lightBlueText;
                    }
                }
            }
        }
        .Préambule{
            display: block;
            .préambule_text{
                background-color: $lightBlueBackground;
                width: 70%;
                margin: auto;
                text-align: center;
                padding: 20px;
                border-radius: 10px;
                h1{
                    color: $lightBlueText;
                    font-size: 1.8em;
                }
                p{
                    font-weight: 600;
                    font-size: 1.1em;
                    line-height: 35px;
                }
                .préambule_ligne{
                    border-bottom: 3px solid #f4cf1b;
                    width: 240px;
                    margin: auto;
                }
            }
            .préambule_btn{
                width: 20%;
                height: 50px;
                border: none;
                border-radius: 5px;
                background-color: $lightBlueText;
                color: white;
                font-size: larger;
                margin-left: auto;
                margin-right: auto;
                display: block;
                font-weight: 700;
            }
        }
    }

    //position container for questions
    .test_position_questions{
        .test_position_container_2{
        display: flex;
        max-width: 40%;
        justify-content: space-between;
        margin: auto;
        margin-top: 135px;
        font-weight: 700;
        .test_position_text{
            padding-top: 5px;
        }
        .test_position_1{
            .dot_1{
                margin: auto;
                margin-top: auto;
                margin-top: auto;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            .dot_1_1{
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: $lightBlueText;
            }
            }
        }
        .dot_2{
            margin: auto;
                    margin-top: auto;
                    margin-top: auto;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: $lightBlueBackground;
                    display: flex;
                    justify-content: center;
                    align-items: center;
            .dot_2_2{
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: $yellow;
        }}
        .dot_3{
            margin: auto;
            margin-top: auto;
            margin-top: auto;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .dot_3_3{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $lightBlueText;
            }
        }
    }}
    
    
    
    // Time Line

    .time_line{
        margin-bottom: 60px;
        .time_line_1{
            margin: auto;
            width: 40%;
            height: 15px;
            background-color: $lightBlueBackground;
            border-radius: 20px;
            margin-top: 51px;
            #line{
                height: 15px;
                background-color: $lightBlueText;
                border-radius: 20px;
                display: block;
                transition: .4s;
                animation: advance 2s;
                animation-fill-mode: forwards;
                @keyframes advance {
                    0% {
                        width: 0%;
                    }
                    100% {
                        width: 4.38%;
                    }
                }
            }
        }
    }
    .Q1{
        h1{
            color: $testgrey;
            text-align: center;
        }
        #inputButton{
            display: flex;
            justify-content: center;
            margin-top: 77px;
            padding-bottom: 44px;
        }
        // .opt_container{
        //     padding-top: 34px;
        //     padding-bottom: 55px;
        //     .option{
        //     width: 55%;
        //     margin: auto;
        //     label{
        //         font-size:1.6em;
        //         cursor: pointer;
        //         color: $lightBlueText;
        //     }
        //     input{
        //         height: 20px;
        //         width: 20px;
        //     }
        // }
        // }
        // .notification{
        //     width: 50%;
        //     padding: 20px;
        //     text-align: center;
        //     background-color: $yellow;
        //     border-radius: 10px;
        //     margin: auto;
        //     font-weight: 600;
        //     font-size: 1.2em;
        //     line-height: 31px;
        // }
        .next{
            width: 13%;
            height: 50px;
            border: none;
            border-radius: 5px;
            background-color: $lightBlueText;
            color: white;
            font-size: larger;
            margin-left: auto;
            margin-right: auto;
            display: block;
            font-weight: 700;
            margin-top: 37px;
        }
    }
    
        .Q{
            display: inline-block;
            display: none;
            h1{
               color: $testgrey;
               text-align: center;
            }
            #inputButton{
                display: flex;
                justify-content: center;
                margin-top: 77px;
                padding-bottom: 44px;
            }
            .opt_container{
                    padding-top: 34px;
                    padding-bottom: 55px;
                    .option{
                    width: 55%;
                    margin: auto;
                    label{
                        font-size:1.6em;
                        cursor: pointer;
                        color: $lightBlueText;
                        font-weight: 600;
                    }
                    input{
                        height: 20px;
                        width: 20px;
                    }
                }
                } 
        }
        .showNext{
            width: 13%;
            height: 50px;
            border: none;
            border-radius: 5px;
            background-color: $lightBlueText;
            color: white;
            font-size: larger;
            float:right;
            font-weight: 700;
            margin-right: 333px;
        }
        .showPrev{
            width: 13%;
            height: 50px;
            border: none;
            border-radius: 5px;
            background-color: $lightBlueText;
            color: white;
            font-size: larger;
            float:left;
            font-weight: 700;
            margin-left: 333px;
        }
}




@import "queries";