
 $blueText:#1A519E;
 $lightBlueText: #1078AD;
 $veryLightBlueText:#D0E5F0;
 $lightBlueBackground:#96C5DC;
 $yellow: #F4CF1B;
 $green: #369D53;
 $grey: #7F7F7F;
 $testgrey: #787878;
 $px18: 1.125em;
 $px19: 1.187em;
 $px24: 1.5em;
 $px27: 1.687em;
 $px30: 1.875em;
 $px31: 1.937em; 
 $px35: 2.187em;
 $px37: 2.312em;