* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
  font-size: 16px;
  // max-width: 1366px;

}

$blueText:#1A519E;
$lightBlueText: #1078AD;
$veryLightBlueText:#D0E5F0;
$lightBlueBackground:#96C5DC;
$yellow: #F4CF1B;
$green: #369D53;
$grey: #7F7F7F;
$px18: 1.125em;
$px19: 1.187em;
$px24: 1.5em;
$px27: 1.687em;
$px30: 1.875em;
$px31: 1.937em; 
$px35: 2.187em;
$px37: 2.312em;

body{
  header{
      .nav_menu_header{
          background-image: url("../../Design/Assets/png/Merged bar-1.png");
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          height: 92px;
              img{
                 float: left; 
                 margin-left: 35px;
                 margin-top: 5px;
              }
          .nav_menu_header_container{
              margin-right: 45px;
              margin-top: 25px;
              a{
                  text-decoration: none;
                  font-weight: bold;
                  font-size: 1.15em;
                  margin-right: 69px; 
              }
              .cons{
                  color: black;
              }
              .acc{
                  color: $blueText;
              }
              #nav_menu_header_bttn{
                  color: $blueText;
                  font-weight: bold;
                  font-size: 1.15em;
                  background-color: transparent;
                  border-color:$blueText ;
                  border-radius: 8px;
                  padding: 10px 8px 7px 20px;
                  img{
                      width: 23px;
                      float: right;
                      margin-left: 20px;
                      margin-top: -3px;
                  }

              }
              
          }
      }
      .info_header{
          text-align: center;
          background-color:$yellow;  
          line-height: 29px;
          height: 117px;
          h5{
              color: black;
              font-weight: bold;
              
          }
          p{
              color:$lightBlueText ;
              font-weight: bold;
          }
      }
      .test_header{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          margin-top: 30px;
          .test_img_header{
              background-image: url("../../Design/Assets/png/Group_80.png");
              background-repeat: no-repeat;
              background-size: 100%;
              height: 488px;
              width: 661px;
          }
          .test_text_header{
              margin-top: 20px;
              text-align: center;
              line-height: 40px;
              .test_text_1_header{
                  color:$lightBlueText;
                  font-weight: bold;
                  // font-size: 1.88vw;
                  font-size: 1.875em;
              }
              .test_text_1_img_header{
                  margin-top: 25px;
              }
              .test_text_2_header{
                  color:#7F7F7F;
                  font-weight: bold;
                  // font-size: 1.88vw;
                  font-size: 1.875em;
              }
              #test_text_button_header{
                  width: 100%;
                  height: 60px;
                  background-color:$lightBlueText ;
                  color: white;
                  font-weight: bold;
                  border-radius: 7px;
                  font-size: 2em;
                  margin-top: 18px;

              }
          }
      }
  }
  .main_1{
      margin-top: 75px;
      .main_1_title{
          text-align: center;
          font-weight: 700;
          font-size: 2.1875em;
          color: $lightBlueText;
      }
      .main_1_container_1{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          text-align: center;
          justify-content: center;
          font-weight: 600;
          margin-top: 36px;
          margin-left: 90px;
          .main_1_item1{
              p{
                  font-size: 2.0625em;
                  margin-top: 12px;
              }
          }
          .main_1_item2{
              padding-left: 217px;
              margin-top: 23px;
              p{
                  font-size: 2.0625em;
                  line-height: 24px;
                  margin-top: 19px;
              }
          }
      }
      .main_1_container_2{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          text-align: center;
          justify-content: center;
          font-weight: 600;
          margin-left: 16px;
          .main_1_item3{
              p{
                  font-size: 2.0625em;
                  line-height: 24px;
                  margin-top: 29px;
              }
          }
          .main_1_item4{
              padding-left: 209px;
              margin-top: 23px;
              p{
                  font-size: 2.0625em;
                  line-height: 24px;
                  margin-top: 19px;
              }
          }
      }
  }
  .main_2{
      margin-top: 130px;
      .main_2_darkBlue{
          background-color: $lightBlueText;
          .main_2_darkBlue_title{
              text-align: center;
              font-weight: 700;
              font-size: 2.1875em;
              color: $veryLightBlueText;
              padding-top: 26px;
          }
          .main_2_darkBlue_container{
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              padding-top: 42px;
              padding-bottom: 29px;
              .main_2_darkBlue_item1{
                  margin-left: 84px;
                  line-height: 48px;
                  .main_2_darkBlue_item1_text1{
                      color: black;
                      font-size: 1.875em;
                      font-weight: 600;
                  }
                  .main_2_darkBlue_item1_text2{
                      color: white;
                      font-size: 1.875em;
                      font-weight: 600;
                  }
              }
              .main_2_darkBlue_item2{
                  padding-left: 298px;
                  padding-top: 44px;
                  .main_2_darkBlue_contact_text{
                      color: $yellow;
                      font-size: 1.937em;
                      font-weight: 700;
                      text-align: center;
                  }
                  .main_2_darkBlue_contact_phone{
                      background-color: #F4CF1B;
                      color: #1078AD;
                      font-size: 1.875em;
                      text-align: center;
                      margin-top: 16px;
                      font-weight: 700;
                      height: 78px;
                      padding-top: 22px;
                      border-radius: 5px;
                      font-family: Arial, Helvetica, sans-serif;
                  }
                  .main_2_darkBlue_contact_mail{
                      color: white;
                      font-size: 1.687em;
                      line-height: 90px;
                      text-decoration-color: $yellow;
                      font-family: Arial, Helvetica, sans-serif;
                  }
              }
          }
      }
      .main_2_lightBlue_container{
          background-color: $lightBlueBackground;
          height: 261px;
          .main_2_lightBlue_text{
              color: $lightBlueText;
              font-size: $px30 ;
              text-align: center;
              font-weight: 700;
              padding-top: 10px;
          }
          .main_2_lightBlue_img{
              display: block;
              margin-left: auto;
              margin-right: auto;
              margin-top: 10px;
          }
          .main_2_lightBlue_buttn{
              width: 40%;
              height: 69px;
              background-color: #1078AD;
              color: white;
              font-weight: bold;
              border-radius: 7px;
              font-size: 2.312em;
              margin-top: 18px;
              display: block;
              margin-left: auto;
              margin-right: auto;
          }

      }
  }
  footer{
      .footer_logo_sante{
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top: 20px;
      }
      .footer_container{
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-evenly;
          margin-top: 52px;
          .nav_menu_footer_item1{
              text-align: center;
              #nav_menu_footer_bttn{
                  color: black;
                  font-weight: 600;
                  font-size: 1.15em;
                  background-color: transparent;
                  border-color:$blueText ;
                  border-radius: 10px;
                  padding: 10px 8px 7px 20px;
                  img{
                      width: 23px;
                      float: right;
                      margin-left: 20px;
                      margin-top: -3px;
                  }
              }
              .nav_menu_footer_link_blue{
                  text-decoration: none;
                  color: $lightBlueText;
                  font-weight: 700;
                  font-size:$px24 ;
              }
              .nav_menu_footer_link_black{
                  text-decoration: none;
                  color: black;
                  font-weight: 700;
                  font-size:$px24 ;
              }
          }
          .contact_footer_item2{
              text-align: center;
              line-height: 55px;
              .contact_footer_title{
                  font-size: $px27;
                  font-weight: 700;
                  color: $lightBlueText;
              }
              .contact_footer_text{
                  font-weight: 700;
                  font-size: $px19;
                  color: black;
              }
              .contact_footer_num{
                  font-weight: 700;
                  font-size: $px27;
                  color: $green;
              }
          }
          .text_footer_item3{
              font-size: $px18;
              color: $grey;
              padding-top: 75px;
              line-height: 31px;
          }
      }
      .footer_empty{
          background-color: $lightBlueText;
          height: 36px;
          margin-top: 38px;
      }
  }
}


@media only screen and (max-width: 1376px){ 
  body{
      .main_2{
          .main_2_darkBlue{
              .main_2_darkBlue_container{
                  justify-content: space-around;
                  .main_2_darkBlue_item1{
                      margin-left: 0;
                  }
                  .main_2_darkBlue_item2{
                      padding-left: 0px;
                  }
              }
          }
      }
  }
}

@media screen and (max-width: 1022px){
  body{
      .main_2_darkBlue{
          .main_2_darkBlue_container{
              .main_2_darkBlue_item1{
                  text-align: center;
              }
              .main_2_darkBlue_item2{
                  padding-left: 0px;
              }
          }
      }
  }
  footer{
      .footer_container{
              .text_footer_item3{
                  text-align: center;
                  margin-top: -47px;
              }
      }
  }
}

@media screen and (max-width: 690px){
  body{
      header{
          .nav_menu_header{
              height: 80px;
              background-position: 100%;
              img{
                  margin-left: 16px;
                  margin-top: 13px;
                  width: 47px;
              }
              .nav_menu_header_container{
                  margin-right: 33px;
                  margin-top: 28px;
                  a{
                      font-size: 1em;
                      margin-right: 0px;
                  }
                  .acc{
                      color: $lightBlueText;
                      padding-right: 15px;
                  }
                  .cons{
                      padding-right: 15px;
                  }
                  #nav_menu_header_bttn{
                      font-size: 1em; 
                      padding: 1px 5px 4px 9px;
                      color: white;
                      border-color:$lightBlueText ;
                      img{
                          width: 15px;
                          height: 15px;
                          margin-left: 9px;
                          margin-top: 3px;
                      }
                  }
              }

          }
          .info_header{
              height: 185px;
              h5{
                  color: $lightBlueText;
              }
              p{
                  color: black;
                  font-size: 0.85em;
                  line-height: 24px;
                  margin-left: 30px;
                  margin-right: 30px;
              }
          }
          .test_header{
              .test_img_header{
                  height: 297px;
                  width: 395px;
              }
              .test_text_header{
                  .test_text_1_header{
                      font-size: 1.125em;
                  }
                  .test_text_2_header{
                      font-size: 0.875em;
                      line-height: 25px;
                      font-weight: 600;
                  }
                  #test_text_button_header{
                      font-size: $px27;
                      background-image:url("../../Design/Assets/png/background-test-buttn.png");
                  }
              }
          }
      }
      .main_1{
          .main_1_title{
              font-size: 1.6em;
          }
          .main_1_container_1{
              flex-wrap: nowrap;
              margin-left: 0;
              .main_1_item1{
                  padding-right: 131px;
                  img{
                      width: 34px;
                  }
                  p{
                      font-size: 1.125em;
                      margin-top: 19px;
                  }
              }
              .main_1_item2{
                  padding-left: 0px;
                  margin-right: -25px;
                  img{
                      width: 58px;
                  }
                  p{
                      font-size: 1.125em;
                  }
              }
          }
          .main_1_container_2{
              flex-wrap: nowrap;
              margin-left: 0;
              .main_1_item3{
                  padding-right: 131px;
                  padding-top: 19px;
                  img{
                      width: 92px;
                  }
                  p{
                      font-size: 1.125em;
                      margin-top: 19px;
                  }
              }
              .main_1_item4{
                  padding-left: 0px;
                  margin-right: 4px;
                  img{
                      width: 87px;
                  }
                  p{
                      font-size: 1.125em;
                  }
              }
          }
      }
      .main_2{
          margin-top: 71px;
          .main_2_darkBlue{
              .main_2_darkBlue_title{
                  font-size: 1.25em;
              }
              .main_2_darkBlue_container{
                  .main_2_darkBlue_item1{
                      line-height: 31px;
                      .main_2_darkBlue_item1_text1{
                          font-size: 1.1em;
                          color: white;
                      }
                      .main_2_darkBlue_item1_text2{
                          font-size: 1em;
                      }
                  }
                  .main_2_darkBlue_item2{
                      .main_2_darkBlue_contact_text{
                          font-size: 1.2em;
                      }
                      .main_2_darkBlue_contact_phone{
                          font-size: 1.5em;
                          height: 66px;
                          width: 179px;
                      }
                      .main_2_darkBlue_contact_mail{
                          font-size: 1.3em;
                      }
                  }
              }
          }
          .main_2_lightBlue_container{
              height: 214px;
              .main_2_lightBlue_text{
                  font-size: 1em;
                  padding-top: 23px;
              }
              .main_2_lightBlue_img{
                  margin-top: 29px;
                  width: 46px;
              }
              .main_2_lightBlue_buttn{
                  font-size: 1.2em;
                  background-image:url("../../Design/Assets/png/background-test-buttn.png");
                  width: 56%;
                  height: 45px;
              }
          }
      }
      footer{
          .footer_container{
              margin-top: 16px;
              .nav_menu_footer_item1{
                  margin-left: 12px;
                  margin-top: 8px;
                  #nav_menu_footer_bttn{
                      font-size: 1em;
                      padding: 1px 5px 4px 9px;
                      border-color:$lightBlueText ;
                      img{
                          width: 15px;
                          height: 15px;
                          margin-left: 9px;
                          margin-top: 3px;

                      }
                  }
                  .nav_menu_footer_link_blue{
                      font-size: 1em ;
                  }
                  .nav_menu_footer_link_black{
                      font-size: 1em;
                  }
              }
              .contact_footer_item2{
                  line-height: 40px;
                  .contact_footer_title{
                      font-size: 1.2em;
                  }
                  .contact_footer_text{
                      font-size: 0.8em;
                  }
                  .contact_footer_num{
                      font-size: 1em;
                  }
              }
              .text_footer_item3{
                  p{
                      font-size: 0.7em;
                  }
                  
              }
          }
      }
  }
}
